@{
    ViewData["Title"] = "Search";
}
@model SearchPageViewModel
<div class="container">

    <div class="row">

        <div class="col-md-3">
            @* Search kısmının yapılacağı div *@

            <form asp-action="Search" method="Get">
                @*asp-action="Search" ile bu formdaki button'a tıklanıldığında ilgili Controller'ın hangi metoduna gidileceğini belirtiyoruz'  *@

                <div class="mv-3">
                    <label asp-for="SearchViewModel.CustomerFullName" class="form-label"></label>
                    <input asp-for="SearchViewModel.CustomerFullName" class=" form-control" />
                    @*asp-for="SearchViewModel.CustomerFullName" ile girilen input değerinin backend de hangi fielda atanacağını belirtiyoruz. *@
                </div>

                <div class="mb-3">
                    <label asp-for="SearchViewModel.Gender" class="form-label"></label>
                    <input asp-for="SearchViewModel.Gender" class="form-control" />

                </div>

                <div class="mb-3">
                    <label asp-for="SearchViewModel.Category" class="form-label"></label>
                    <input asp-for="SearchViewModel.Category" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="SearchViewModel.OrderDateStart" class="form-label"></label>
                    <input asp-for="SearchViewModel.OrderDateStart" class="form-control" />
                </div>

                <div class=" mb-3">
                    <label asp-for="SearchViewModel.OrderDateEnd" class="form-label"></label>
                    <input asp-for="SearchViewModel.OrderDateEnd" class="form-control" />
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>

            </form>

        </div>

        <div class="col-md-9">
            @* Search sonucunda gelen dataların basılacağı  div *@

            <div class="alert alert-success">

                <span> Toplam @Model.TotalCount kayıt bulunmuştur. </span>
            </div>


            <table class="table table-striped">

                <thead>
                    <tr>
                        @* th kalın yazmak için*@
                        @* <th>Id</th>
                        <th>OrderId</th> *@
                        <th>Customer Full Name</th>
                        <th>Gender</th>
                        <th>Category</th>
                        <th>TaxfulTotalPrice</th>
                        <th>OrderDate</th>
                    </tr>
                </thead>


                <tbody>
                    @*  tbody'nin içindeki değerlerin yukardaki thead ın içindeki değerlerle sıralı bir şekilde uyuşması gerekiyor *@

                    @foreach (var item in Model.ECommerceViewModelList)
                    {
                        <tr>
                            @*  <td>@item.Id</td>
                        <td>@item.OrderId</td> *@
                            <td>@item.CustomerFullName</td>
                            <td>@item.Gender</td>
                            <td>@item.Category</td>
                            <td>@item.Taxful_Total_Price</td>
                            <td>@item.OrderDate</td>
                        </tr>
                    }

                </tbody>


            </table>

            <nav>


                <ul class="pagination">


                    <li class="page-item" )>
                        <a class="page-link" href="@Model.CreatePageUrl(Context.Request, 1, Model.PageSize)">First</a>
                    </li>

                    @for (int i = Model.StartPage(); i <= @Model.EndPage(); i++)
                    {
                        <li class="page-item" @(Model.Page == i ? "active" : "")>
                            <a class="page-link" href="@Model.CreatePageUrl(Context.Request, i, Model.PageSize)">@i</a>
                        </li>
                    }

                    <li class="page-item")>
                        <a class="page-link" href="@Model.CreatePageUrl(Context.Request, Model.PageLinkCount, Model.PageSize)">Last</a>
                    </li>

                </ul>
            </nav>


        </div>

    </div>


</div>

